mat-grid-tile-header > .title{
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    color: black;
}

mat-grid-tile-header, mat-grid-tile-footer {
    background: rgba(0,0,0,0) !important;
    align-content: center;
    height: 90px !important;
}

h2, button {
    text-align: center;
    color: black;
}

mat-form-field {
    width : 90% !important;
}

button {
    padding : 15px;

}

.buttonContainer {
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
}
